.footer{
    position: relative;
    bottom: 0;
    display: flex;
    gap: 50px;
    flex-flow: row nowrap;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;
    padding: 10px;
}
.footer p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fotter__email{
    font-size: 1.3rem;
}