.container {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

.container h2 {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.project__card {
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--shadow);
    transform: scale(1);
    transition: transform .5s ease;
}
.project__card:hover {
    transform: scale(1.03);
}

.project__card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.project__info {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}
.project__info__tech{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}
.project__info__tech ul{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    margin-left: 10px;
    list-style: none;
    gap: 10px;
    font-size: 0.8rem ;
}
.project__info__tech li {
    border-bottom: 1px solid #fff;
    padding: 5px ;
}
.project__info h4 {
    margin: 10px 20px;
    font-size: 1.4rem;
}

.project__info p {
    margin-left: 15px;
    margin-right: 10px;
    line-height: 1.3;
    font-size: .9rem;
}

.project__info a {

    width: fit-content;
    padding: 5px 15px;
    height: 30px;
    text-decoration: none;
    margin: 5px 10px 15px auto;
    background-color: var(--boton);
    color: var(--background);
    border-radius: 10px;
    font-size: .9rem;
}
.project__info a:hover {
   background-color: var(--botonhover);
   color: var(--colorhover);
}
